*{
 padding: 0;
 margin: 0;
}

body{
 max-width: 100%;
 max-height: 100%;
 overflow: hidden;
 padding-left: 10px;
 }

#world{
 position: relative;
 user-select: none;
     -ms-user-select: none;
    -moz-user-select: none;
 -webkit-user-select: none;
}

.row{
 max-height:29px;
 overflow: visible;
}
.row:nth-child(2n-1){
 margin-left: 19px;
}
.row:nth-child(2n){
 margin-left: 0px;
}
.cell{
 position: relative;
 display: inline-block;
 width:  48px;
 height: 29px;
 overflow: visible;
}
.cell img{
 position: absolute;
 bottom: 0;
 right: -10px;
}
.click{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
}
#money {
 padding: 20px;
 padding-left: 50px;
 font-size: 20px;
 font-family: sans-serif;
 color: black;
}
